<h2>Editing Book</h2>
<%= form_for(@record) do |f| %>

<h4>Title</h4>
<%= f.text_field :title, class: "book_title" %>

<h4>Body</h4>
<%=f.text_area :body, class: "book_body" %>
<div class="submit">
<%= f.submit 'Update Book' %>
</div>
<% end %>
<%= link_to "Show", record_path(@record.id) , class: "show_#{@record.id}"%>
<%= link_to 'Back', :back, class: "back" %> 
