<body>

<h2>Books</h2>

<!-- tableで一覧表示 -->
<table>
<thead>
<tr>
<th>title</th>
<th>body</th>
<th></th>
</tr>
</thead>

<tbody>
<% @records.each do |record| %>
<tr> 
<td>
<%= record.title %>
</td>
<td>
<%= record.body %>
</td>
<td>
<%= link_to "Show", record_path(record.id), class: "show_#{record.id}" %>
<%= link_to "Edit", edit_record_path(record.id), class: "edit_#{record.id}" %>
<%= link_to "Destroy", record_path(record.id), method: :delete, "data-confirm" => "Are you sure?", class: "destroy_#{record.id}" %>

</td>
</tr>  
<% end %>
</tbody>   
</table>



<h3>New Book</h3>
<%= form_for(@record) do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title, class: "book_title"%>

  <h4>Body</h4>
  <%= f.text_area :body, class: "book_body" %>
  <div class="submit">
  <%= f.submit 'Create Book' %>
  </div>
<% end %>

</body>

